.searchBox {
    margin-bottom: 30px;
    background-color: lightgray;
    border-radius: 5px;
}

.savedBox {
    background-color: lightgray;
    padding-bottom: 20px;
    border-radius: 5px;
}

.bannerBox {
    margin-bottom: 30px;
    background-color: lightgray;
    text-align: center;
    border-radius: 5px;
    font-family: 'Overpass', sans-serif;
    padding-top: 10px; padding-bottom: 10px;
}

.resultCardBox {
    background-color: white;
    border: black;
    border-style: solid;
    width: 100%;
    margin-bottom: 10px;
}

input {
    width: 100%;
}

.bookSearch {
    margin-top: 10px;
}

.resultsBox {
    background-color: lightgrey;
    border-radius: 5px;
}

.viewBtn, .saveBtn {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 3px;
}

.cardTitle, .cardSum, .results, .savedBooks {
    margin-left: 10px;
    margin-top: 10px;
}

.cardImage {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.nav-item {
    padding: 20px;
}

.navbar {
    background-color: lightgrey;
    margin-bottom: 30px;
}

.noMatch {
    text-align: center;
}